<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460681701931-eobli7bk4u298clnqam0d67a9ee4eauf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460681701931-eobli7bk4u298clnqam0d67a9ee4eauf</string>
	<key>API_KEY</key>
	<string>AIzaSyD8gVORKh1pmLo-BXb0AiFvTqQ1TQ_JBV4</string>
	<key>GCM_SENDER_ID</key>
	<string>460681701931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ckost9n.iFlashChat</string>
	<key>PROJECT_ID</key>
	<string>iflash-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>iflash-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460681701931:ios:65634ae8ec82c9761e186e</string>
</dict>
</plist>